faiss-cpu
langchain
langchain-community
langchain-core
langchain-huggingface
pypdf
sentence-transformers
langchain_text_splitters
python-dotenv
requests
huggingface_hub
streamlit
pathlib
pillow
chromadb
torch
transformers
langchain-classic
streamlit